.lista-elemento {
    border: solid rgb(179, 179, 179);
    border-width: 0 0 1px 0;
}
.lista-texto {
    font-size: 1.7rem;
    line-height: 4rem;
    color: rgb(175, 173, 173);
    font-weight: 100;

}
.icono-eliminar {
    font-size: 1.7rem;
    color: rgb(175, 173, 173);
}